#!/usr/bin/env python
PACKAGE = "matrix_docking_track"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("track_control_timeout",    int_t,    0, "timeout untill track finish", 30,  0, 10800)
gen.add("track_loss_threshold",    int_t,    0, "timeout if AR loss while tracking", 2,  0, 10)
gen.add("lin_p", double_t, 0, "Kp for linear vel", 0.17, 0.0, 1.0)
gen.add("lin_i", double_t, 0, "Ki for linear vel", 0.05, 0.0, 1.0)
gen.add("lin_d", double_t, 0, "Kd for linear vel", 0.03, 0.0, 1.0)
gen.add("ang_p", double_t, 0, "Kp for angular vel", 0.17, 0.0, 1.0)
gen.add("ang_i", double_t, 0, "Ki for angular vel", 0.05, 0.0, 1.0)
gen.add("ang_d", double_t, 0, "Kd for angular vel", 0.03, 0.0, 1.0)
gen.add("restore_defult",   bool_t,   0, "Trig",  False)

exit(gen.generate(PACKAGE, "matrix_docking_track", "MatrixARTrackOperation"))