#!/usr/bin/env python
PACKAGE = "matrix_io_management"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#Input 
grp_input = gen.add_group("Input", type="tab")

grp_input.add("use_input_botton_state",    bool_t,    0, "Disable/Enable", False)
grp_input.add("use_input_bumper_state",    bool_t,    0, "Disable/Enable", False)
grp_input.add("use_input_limit_switch_state",    bool_t,    0, "Disable/Enable", False)

grp_input.add("active_state",    int_t,    0, "active_state", 0,  0, 100)
grp_input.add("inactive_state",    int_t,    0, "inactive_state", 1,  0, 100)

grp_input.add("hex_header",    int_t,    0, "hex_header", 2,  -1, 100)
grp_input.add("hex_footer",    int_t,    0, "hex_footer", 3,  -1, 100)

grp_input.add("use_STX_ETX",    bool_t,    0, "STX ETX", True)

grp_input.add("str_header",    str_t,    0, "str_header",  "")
grp_input.add("str_footer",    str_t,    0, "str_footer",  "")

grp_input.add("use_newline",     bool_t,    0,  "new line", True)

mode_enum = gen.enum([ gen.const("NOT_PUBLISH", int_t, 0, "not publish"),
                       gen.const("INACTIVE",    int_t, 1, "pub when state inactive"),
                       gen.const("CHANGE",      int_t, 2, "pub when state inactive"),
                       gen.const("RISING",      int_t, 3, "pub when state rising"),
                       gen.const("FALLING",     int_t, 4, "pub when state falling"),
                       gen.const("ACTIVE",      int_t, 5, "pub when state active")],
                     "detect event")

action_enum = gen.enum([ gen.const("NONE", int_t, 0, "not publish"),
                       gen.const("STOP_MOVEMENT",    int_t, 1, "pub when state inactive"),
                       gen.const("STOP_ALL",      int_t, 2, "pub when state inactive"),
                       gen.const("PAUSE",      int_t, 3, "pub when state rising"),
                       gen.const("RESUME",      int_t, 4, "pub when state rising"),
                       gen.const("EMERGENCY_CASE", int_t, 5, "pub when state rising"),
                       gen.const("DOCKING", int_t, 6, "pub when state rising")],
                     "action event")

grp_input.add("x1_input_address",    int_t,    0, "adress of x1 in /matrix_io/input", 10,  -1, 100)
grp_input.add("x1_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x1_data",    str_t,    0, "data for publish",  "x1")
grp_input.add("x1_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x2_input_address",    int_t,    0, "adress of x2 in /matrix_io/input", 11,  -1, 100)
grp_input.add("x2_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x2_data",    str_t,    0, "data for publish",  "x2")
grp_input.add("x2_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x3_input_address",    int_t,    0, "adress of x3 in /matrix_io/input", 12,  -1, 100)
grp_input.add("x3_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x3_data",    str_t,    0, "data for publish",  "x3")
grp_input.add("x3_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x4_input_address",    int_t,    0, "adress of x4 in /matrix_io/input", 13,  -1, 100)
grp_input.add("x4_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x4_data",    str_t,    0, "data for publish",  "x4")
grp_input.add("x4_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x5_input_address",    int_t,    0, "adress of x5 in /matrix_io/input", 10,  -1, 100)
grp_input.add("x5_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x5_data",    str_t,    0, "data for publish",  "x5")
grp_input.add("x5_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x6_input_address",    int_t,    0, "adress of x6 in /matrix_io/input", 10,  -1, 100)
grp_input.add("x6_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x6_data",    str_t,    0, "data for publish",  "x6")
grp_input.add("x6_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x7_input_address",    int_t,    0, "adress of x7 in /matrix_io/input", 10,  -1, 100)
grp_input.add("x7_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x7_data",    str_t,    0, "data for publish",  "x7")
grp_input.add("x7_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x8_input_address",    int_t,    0, "adress of x8 in /matrix_io/input", 10,  -1, 100)
grp_input.add("x8_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x8_data",    str_t,    0, "data for publish",  "x8")
grp_input.add("x8_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x9_input_address",    int_t,    0, "adress of x9 in /matrix_io/input", 10,  -1, 100)
grp_input.add("x9_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x9_data",    str_t,    0, "data for publish",  "x9")
grp_input.add("x9_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("x10_input_address",    int_t,    0, "adress of x10 in /matrix_io/input", 10,  -1, 100)
grp_input.add("x10_mode", int_t, 0, "mode of publish", 3, 0, 5, edit_method=mode_enum)
grp_input.add("x10_data",    str_t,    0, "data for publish",  "x10")
grp_input.add("x10_action", int_t, 0, "action event", 0, 0, 6, edit_method=action_enum)

grp_input.add("restore_default",    bool_t,    0, "restore default", False)


#Input 
grp_output = gen.add_group("Output", type="tab")
grp_output.add("y1_enabled",    bool_t,    0, "enabled for change state of pin", False)
# grp_output.add("y1_input_address",    int_t,    0, "adress of y1 in /matrix_io/input", 10,  -1, 100)
grp_output.add("y1_on", bool_t, 0, "y1 on state", False)
grp_output.add("y1_int", int_t, 0, "y1 on state", 0, 0, 2)

# grp_output.add("y1_pin_cfg", int_t, 0, "y1 pin cfg Adminstrator only!!", -1, -1, 50)
grp_output.add("y2_enabled",    bool_t,    0, "enabled for change state of pin", False)
grp_output.add("y2_on", bool_t, 0, "y2 on state", False)
grp_output.add("y2_int", int_t, 0, "y2 on state", 0, 0, 2)

grp_output.add("y3_enabled",    bool_t,    0, "enabled for change state of pin", False)
grp_output.add("y3_on", bool_t, 0, "y3 on state", False)
grp_output.add("y3_int", int_t, 0, "y3 on state", 0, 0, 2)

grp_output.add("y4_enabled",    bool_t,    0, "enabled for change state of pin", False)
grp_output.add("y4_on", bool_t, 0, "y4 on state", False)
grp_output.add("y4_int", int_t, 0, "y4 on state", 0, 0, 2)

exit(gen.generate(PACKAGE, "matrix_io_management", "IOManagement"))