<launch>

  <!-- Output: screen, log -->
  <arg name="output" default="screen" />

    

  <node name="matrix_serial_operation" pkg="matrix_serial_operation" type="matrix_serial_operation_node" output="$(arg output)">
    <rosparam file="$(find matrix_serial_operation)/param/serialXbeeRohm.yaml" />
  </node>

  <node name="matrix_serial_operation_rs485" pkg="matrix_serial_operation" type="matrix_serial_operation_485_node" output="$(arg output)">
    <rosparam file="$(find matrix_serial_operation)/param/rs485.yaml" />
  </node>


  <!-- <group ns="matrix_xbee">
    <node name="matrix_serial_operation" pkg="matrix_serial_operation" type="matrix_serial_operation_node" output="$(arg output)">
      <rosparam file="$(find matrix_serial_operation)/param/serialXbeeRohm.yaml" />
    </node>
  </group>

  <group ns="matrix_rs485">
    <node name="matrix_serial_operation" pkg="matrix_serial_operation" type="matrix_serial_operation_node" output="$(arg output)">
      <rosparam file="$(find matrix_serial_operation)/param/rs485.yaml" />
    </node>
  </group> -->


</launch>