<?xml version="1.0" ?>

<launch>

  <arg name="sub_model" value="$(env sub_model)"/>
  <group if="$(eval sub_model == 'smr100et')">
        <include file="$(find matrix_navigation)/launch/include/$(env sub_model)/amcl_$(env sub_model).xml">
        </include>
  </group>

  <group unless="$(eval sub_model == 'smr100et')">
        <include file="$(find matrix_navigation)/launch/include/amcl_common.xml">
        </include>
  </group>


</launch>