<?xml version="1.0"?>
<launch>
    <node name="matrix_mode_controller" pkg="matrix_system" type="mode_controller" output="screen">
        <!-- <param name="model" type="str"  value="$(env model)"/>
        <param name="serial_no" type="str"  value="$(env serial_no)"/>  -->
        <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/io_active_state/io_active_state.yaml"/>
        <!-- <param name="enable_emergency_charge_state" type="bool"  value="true"/> -->
    </node>

    <node name="matrix_state_controller" pkg="matrix_state_controller" type="matrix_state_controller" output="log"/>
    
</launch>

