<launch>

    <arg name="sub_model" default="$(env sub_model)"/>

    <group if="$(eval sub_model == 'smr100rt059')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'smr100')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'smr100et')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'smr100eb')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'smr200')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'sdr100')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'delivery')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_delivery_bringup)/param/$(env model)/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'delivery_true')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_delivery_bringup)/param/$(env model)/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>

    <group if="$(eval sub_model == 'smr1000')">
        <node name="matrix_movement_state" pkg="matrix_system" type="movement_state" output="screen">
            <param name="model" type="str"  value="$(env model)"/>
            <param name="serial_no" type="str"  value="$(env serial_no)"/> 
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/movement/movement.yaml"/>
        </node>
    </group>
</launch>