<launch>

  <!-- Output: screen, log -->
  <arg name="output" default="log" />
  <node name="matrix_swapenvi_map_list" pkg="matrix_swapenvi_operation" type="map_list" output="screen">
    <!-- <param name="pre_docking_x_pos" value="1.0"/>
    <param name="docking_x_pos" value="0.25"/>
    <param name="use_fix_pos" value="false"/>
    <param name="pre_docking_dir" value="1"/>
    <param name="max_fail_retry" value="3"/> -->
  </node>

  <node name="matrix_swapenvi_operation" pkg="matrix_swapenvi_operation" type="matrix_swapenvi_operation_node" output="screen">
    <!-- <param name="pre_docking_x_pos" value="1.0"/>
    <param name="docking_x_pos" value="0.25"/>
    <param name="use_fix_pos" value="false"/>
    <param name="pre_docking_dir" value="1"/>
    <param name="max_fail_retry" value="3"/> -->
  </node>

  <node name="matrix_list_maps" pkg="matrix_swapenvi_operation" type="matrix_map_list.py" output="screen" />

</launch>
