  
<launch>  

<!-- 
  This node presents a fast and precise method to estimate the planar motion of a lidar
  from consecutive range scans. It is very useful for the estimation of the robot odometry from
  2D laser range measurements.
  
  Requirements:
  - 2D laser scan, publishing sensor_msgs::LaserScan
  - TF transform from the laser to the robot base
  - MRPT lib and mrpt_bridge pkg (see readme)
-->






  <!-- Odom-IMU Extended Kalman Filter-->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_wheels"> 
      <remap from="odometry/filtered" to="/odom/imu_zlac706" />
      <remap from="/tf" to="/tf/imu_zlac706"/>
      <rosparam command="load" file="$(find aragorn_bringup)/param/ekf/ekf_wheel_imu.yaml" />
  </node>



</launch>
