<launch>
 <!-- Industrial shields-->
  <!--<node pkg="rosserial_python" type="serial_node.py" name="Industrial_sheild" output="screen">
    <param name="port" value="/dev/aragorn_indus"/>
    <param name="baud" value="115200"/>
    
  </node>-->

    <node pkg="rosserial_python" type="serial_node.py" name="Teensy" output="screen">
      <param name="port" value="/dev/aragorn_io"/>
      <param name="baud" value="57200"/>
    </node>

    <!-- <node pkg="aragorn_io_action" type="scan_motion_server" name="scan_motion_server" output="screen">
    </node>

    <node pkg="aragorn_io_action" type="uvc_server" name="uvc_server" output="screen">
    </node> -->
    
</launch>
