<launch>

    <!--<include file="$(find aragorn_bringup)/launch/aragorn_camera.launch"/>-->
    
    <include file="$(find aragorn_bringup)/launch/aragorn_remote_gazebo.launch"/>
    <include file="$(find aragorn_gazebo)/launch/garage_world.launch"/>
    <!-- <include file="$(find aragorn_navigation)/launch/aragorn_navigation_TEB_gazebo.launch"/> -->
    <!-- <include file="$(find aragorn_navigation)/launch/aragorn_navigation_TEB.launch"/> -->
    <include file="$(find aragorn_navigation)/launch/navigation_rviz.launch"/>
    <!--<include file="$(find aragorn_bringup)/launch/aragorn_sound.launch"/>-->
    <include file="$(find web_interface)/launch/my.launch"/>

</launch>