<launch>


    <node pkg="aragorn_io_action" type="scan_motion_server" name="scan_motion_server" output="screen">
        <param name="serial_no" type="str"  value="$(env MATRIX_UVD_SERIAL_NO)"/> 
    </node>

    <node pkg="aragorn_io_action" type="uvc_server" name="uvc_server" output="screen">
    </node>
    
</launch>
