<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">
    <param name="use_imu" value="false"/>
    <param name="publish_tf" value="false" />
    <remap from="imu/data" to="/imu/data_raw"/>
    
  </node>

</launch>