#!/usr/bin/env python
PACKAGE = "matrix_system"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


gen.add("enable_emergency_charge_state",   bool_t,   0, "Disable/Enable emergency charging state",  True)
gen.add("emergency_charge_active_value",    int_t,    0, "state from mcu (-1 is ignore)", 0,  -1, 1)
gen.add("emergency_plugin_active_value",    int_t,    0, "state from mcu (-1 is ignore)", 0,  -1, 1)
gen.add("emergency_base_active_value",    int_t,    0, "state from mcu (-1 is ignore)", 0,  -1, 1)
gen.add("permissive_bumper_detect",   bool_t,   0, "permissive Mster On when Bumper signal is Active",  True)

# gen.add("docking_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("pause_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("resume_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("emergency_case_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)


gen.add("stop_movement",   bool_t,   0, "Disable/Enable emergency charging state",  False)
gen.add("stop_all",   bool_t,   0, "Disable/Enable emergency charging state",  False)

robot_mode_enum = gen.enum([ gen.const("NORMAL", int_t, 0, "not publish"),
                            gen.const("DOCKING_MODE_ON",    int_t, 12, "pub when state inactive"),
                            gen.const("PAUSE",      int_t, 23, "pub when state inactive"),
                            gen.const("RESUME",      int_t, 24, "pub when state rising"),
                            gen.const("EMERGENCY_CASE_ACTIVE",     int_t, 18, "pub when state falling")],
                            "robot mode")

gen.add("robot_mode", int_t, 0, "robot mode", 0, 0, 30, edit_method=robot_mode_enum)

exit(gen.generate(PACKAGE, "matrix_system", "MatrixModeController"))