#!/usr/bin/env python
PACKAGE = "matrix_system"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


# gen.add("enable_emergency_charge_state",   bool_t,   0, "Disable/Enable emergency charging state",  True)
# gen.add("emergency_charge_active_value",    int_t,    0, "state from mcu (-1 is ignore)", 0,  -1, 1)
# gen.add("emergency_plugin_active_value",    int_t,    0, "state from mcu (-1 is ignore)", 0,  -1, 1)
# gen.add("emergency_base_active_value",    int_t,    0, "state from mcu (-1 is ignore)", 0,  -1, 1)

# gen.add("docking_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("pause_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("resume_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("emergency_case_mode",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("stop_movement",   bool_t,   0, "Disable/Enable emergency charging state",  False)
# gen.add("stop_all",   bool_t,   0, "Disable/Enable emergency charging state",  False)

MatrixFlowDesigner_mode_enum = gen.enum([gen.const("NONE", int_t, 0, "not publish"), 
                            gen.const("START", int_t, 1, "not publish"),
                            gen.const("STOP",    int_t, 2, "pub when state inactive"),
                            gen.const("RESTART",      int_t, 3, "pub when state inactive")],
                            "MatrixFlowDesigner mode")

gen.add("manual_matrixflow_setup", int_t, 0, "nodered mode", 0, 0, 3, edit_method=MatrixFlowDesigner_mode_enum)

gen.add("matrixflow_ready", int_t, 0, "nodered mode", 0, 0, 3, edit_method=MatrixFlowDesigner_mode_enum)
gen.add("matrixflow_start_motor", int_t, 0, "nodered mode", 0, 0, 3, edit_method=MatrixFlowDesigner_mode_enum)
gen.add("matrixflow_emergency", int_t, 0, "nodered mode", 0, 0, 3, edit_method=MatrixFlowDesigner_mode_enum)
gen.add("matrixflow_cancel_movement", int_t, 0, "nodered mode", 0, 0, 3, edit_method=MatrixFlowDesigner_mode_enum)
gen.add("matrixflow_cancel_all", int_t, 0, "nodered mode", 0, 0, 3, edit_method=MatrixFlowDesigner_mode_enum)

gen.add("restore_default",   bool_t,   0, "Disable/Enable",  False)

exit(gen.generate(PACKAGE, "matrix_system", "MatrixLaunchController"))