#!/usr/bin/env python
PACKAGE = "matrix_system"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


gen.add("use_automatic_shutdown",   bool_t,   0, "Disable/Enable",  True)
gen.add("timeout_noaction_shutdown",    int_t,    0, "when no action(sec)", 60,  0, 10800)
gen.add("timeout_full_charge_shutdown",    int_t,    0, "when fullcharge(sec)", 60,  0, 600)

gen.add("use_diagnostics",   bool_t,   0, "Disable/Enable",  True)
gen.add("timeout_error_device",    int_t,    0, "decided when device error(sec)", 10,  0, 60)
gen.add("timeout_error_system", int_t, 0, "timeout go to error_device mode(sec)", 10, 0, 60)

gen.add("check_ldsf",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_ldsr",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_imu",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_bms_base",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_bms_plugin",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_cam1",   bool_t,   0, "if true, check device by following topic",  False)
gen.add("check_cam2",   bool_t,   0, "if true, check device by following topic",  False)
gen.add("check_cam3",   bool_t,   0, "if true, check device by following topic",  False)
gen.add("check_camrear",   bool_t,   0, "if true, check device by following topic",  False)
gen.add("check_motor",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_mcu1",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_mcu2",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_xbee",   bool_t,   0, "if true, check device by following topic",  True)
gen.add("check_wireless485",   bool_t,   0, "if true, check device by following topic",  True)


exit(gen.generate(PACKAGE, "matrix_system", "MatrixDiagnostics"))