#!/usr/bin/env python3
PACKAGE = "sound_play"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled_movement_sound", bool_t, 0, "toggle sound of movement", True)
gen.add("enabled_button_sound", bool_t, 0, "toggle sound of button", True)

exit(gen.generate(PACKAGE, "sound_play", "SoundPlay"))