<launch>

    
    <node pkg="aruco_detect" name="aruco_detect"
        type="aruco_detect" output="log" respawn="false">
        <param name="image_transport" value="compressed"/>
        <param name="publish_images" value="true" />
        <param name="do_pose_estimation" value="true"/>
        <param name="verbose" value="false"/>
        <param name="dictionary" value="8"/>   <!-- dict size, include border -->
        <!-- Map of ID to marker size: 0.14m and 0.046667m -->
        <param name="fiducial_len_override" value="1-255: 0.076"/>
        <!-- <param name="fiducial_len_override" value="10: 0.08, 11: 0.08, 20: 0.04"/> -->
        <remap from="camera/compressed" to="/depth_cam_mount_point/color/image_raw/compressed"/>
        <remap from="camera_info" to="/depth_cam_mount_point/color/camera_info"/>
        <remap from="camera_link" to="/depth_cam_mount_point_link"/>
    </node>

    


</launch>