<launch>
    <!-- <include file="$(find matrix_docking_operation)/launch/docking_operation_node.launch" />
    <include file="$(find matrix_schedule_operation)/launch/schedule.launch" /> -->
    <!-- <include file="$(find matrix_docking_ar_operation)/launch/docking_ar_operation_node.launch" /> -->
    
    <!-- <include file="$(find matrix_autodock)/launch/matrix_dock.launch" /> -->
    <!-- <include file="$(find ist_docking)/launch/docking.launch" /> -->
    <arg name="sub_model" default="$(env sub_model)"/>
    <arg name="hw_ver" default="$(env hw_ver)"/>
    <arg name="serial_no" default="$(env serial_no)"/>


    



    <group if="$(eval sub_model == 'sdr100')">

        <group if="$(eval hw_ver == 'sdr100A')">
            <include file="$(find matrix_docking_ar_operation)/launch/docking_ar_operation_node.launch" />
            <include file="$(find ist_docking)/launch/docking.launch" />
        </group>

        <group if="$(eval hw_ver == 'sdr100C')">
            <include file="$(find matrix_amr_bringup)/launch/docking_ar_operation_multi_methods.launch" >
                <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/docking_id/docking_id.yaml"/>
            </include>
            <node name="ist_docking" pkg="ist_docking" type="ist_docking_node_multi_pose_method" output="screen">
                <param name="pre_docking_x_pos" value="1.0"/>
                <param name="docking_x_pos" value="0.25"/>
                <param name="use_fix_pos" value="false"/>
                <param name="pre_docking_dir" value="1"/>
                <param name="max_fail_retry" value="3"/>
                <param name="serial_no" value="$(env serial_no)"/>
                <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/docking_id/docking_id.yaml"/>
            </node>
        </group>


        <group if="$(eval hw_ver == 'sdr100B')">
            <group if="$(eval serial_no == 'SDR010020230001BAR053')">
                <node name="matrix_docking_multi_methods_operation" pkg="matrix_docking_ar_operation" type="matrix_docking_ar_operation_node_multi_methods" output="screen">
                    <rosparam file="$(find matrix_amr_bringup)/param/common/autodock_cvshape/bckward_cvshape_$(env sub_model)_AR.yaml"/>
                    <param name="skip_confirm_state" type="bool" value="false"/>
                    <param name="motor_name" type="str" value="$(env motor_model)"/>
                </node>
                <node name="ist_docking" pkg="ist_docking" type="ist_docking_node_multi_pose_method" output="screen">
                    <param name="pre_docking_x_pos" value="1.0"/>
                    <param name="docking_x_pos" value="0.25"/>
                    <param name="use_fix_pos" value="false"/>
                    <param name="pre_docking_dir" value="1"/>
                    <param name="max_fail_retry" value="3"/>
                    <param name="serial_no" value="$(env serial_no)"/>
                    <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/docking_id/docking_id.yaml"/>
                </node>
            </group>

            <group unless="$(eval serial_no == 'SDR010020230001BAR053')">
                <include file="$(find matrix_docking_ar_operation)/launch/docking_ar_operation_node.launch" />
                <include file="$(find ist_docking)/launch/docking.launch" />
            </group>
        </group>


        <group if="$(eval hw_ver == 'sdr100D')">
            <include file="$(find matrix_amr_bringup)/launch/docking_ar_operation_multi_methods.launch" >
                <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/docking_id/docking_id.yaml"/>
            </include>
            <node name="ist_docking" pkg="ist_docking" type="ist_docking_node_multi_pose_method" output="screen">
                <param name="pre_docking_x_pos" value="1.0"/>
                <param name="docking_x_pos" value="0.25"/>
                <param name="use_fix_pos" value="false"/>
                <param name="pre_docking_dir" value="1"/>
                <param name="max_fail_retry" value="3"/>
                <param name="serial_no" value="$(env serial_no)"/>
                <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/docking_id/docking_id.yaml"/>
            </node>

        </group>
        
    </group>

    <group unless="$(eval sub_model == 'sdr100')">
        <!-- <include file="$(find matrix_amr_bringup)/launch/docking_ar_operation_multi_methods.launch" >
            <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/docking_id/docking_id.yaml"/>
        </include> -->
        <node name="ist_docking" pkg="ist_docking" type="ist_docking_node_multi_pose_method" output="screen">
            <param name="pre_docking_x_pos" value="1.0"/>
            <param name="docking_x_pos" value="0.25"/>
            <param name="use_fix_pos" value="false"/>
            <param name="pre_docking_dir" value="1"/>
            <param name="max_fail_retry" value="3"/>
            <!-- <param name="serial_no" value="$(env serial_no)"/> -->
            <!-- <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/docking_id/docking_id.yaml"/> -->
        </node>
    </group>
    



</launch>