<launch>
    <!--<node name="control_movinmatrix_docking_ar_operationg" pkg="ir_auto_docking" type="control_moving.py" output="log"/>-->
    <node name="matrix_docking_multi_methods_operation" pkg="matrix_docking_ar_operation" type="matrix_docking_ar_operation_node_multi_methods" output="screen">
        <rosparam file="$(find matrix_amr_bringup)/param/common/autodock_cvshape/bckward_cvshape_$(env sub_model).yaml"/>
        <rosparam file="$(find matrix_amr_bringup)/param/common/autodock_ar3/docking_info.yaml"/>
        <param name="skip_confirm_state" type="bool" value="false"/>
        <param name="motor_model" type="str" value="$(env motor_model)"/>
        <param name="serial_no" type="str" value="$(env serial_no)"/>
    </node>



</launch>