<?xml version="1.0"?>
<launch>
    <!-- <node pkg="matrix_io_management" type="matrix_io_management_node" name="matrix_io_management" output="screen" respawn="false" respawn_delay="0">
        <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/io_management/io.yaml"/>
    </node> -->

    <!-- <arg name="node_start_delay_odom" default="4.0" /> 
    <node pkg="matrix_io_management" type="matrix_io_management_node" name="matrix_io_management" launch-prefix="bash -c 'sleep $(arg node_start_delay_odom); $0 $@' " output="screen" >
        <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/io_management/io.yaml"/>

    </node> -->

    <!-- <arg name="node_start_delay_odom" default="4.0" /> 
    <node pkg="matrix_io_management" type="matrix_io_management_node_OG" name="matrix_io_management" launch-prefix="bash -c 'sleep $(arg node_start_delay_odom); $0 $@' " output="screen" >
        <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/io_management/io.yaml"/>

    </node> -->

    <arg name="node_start_delay_odom" default="4.0" /> 
    <node pkg="matrix_io_management" type="matrix_io_management_node_OG" name="matrix_io_management" launch-prefix="bash -c 'sleep $(arg node_start_delay_odom); $0 $@' " output="screen" >
        <rosparam file="$(find matrix_amr_bringup)/param/$(env sub_model)/$(env serial_no)/io_management/io.yaml"/>

    </node>

</launch>