<launch>
  <!-- Start Motor driver-->


	<!--merge front lidar and rear lidar -->
	<node pkg="ira_laser_tools" name="matrix_laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
	  <!-- <param name="/use_sim_time" value="true"/> -->
	  <param name="destination_frame" value="lidar_merged_link"/>
	  <param name="cloud_destination_topic" value="/merged_cloud"/>
	  <param name="scan_destination_topic" value="/scan"/>
	  <param name="laserscan_topics" value ="/scan_f_filtered /scan_r_filtered" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
	  <param name="angle_min" value="-3.14159265359"/>
	  <param name="angle_max" value="3.14159265359"/>
	  <param name="angle_increment" value="0.0017531209159642458"/> <!-- rad -->
	  <param name="scan_time" value="0.0986388772726059"/>
	  <param name="range_min" value="0.05"/>
	  <param name="range_max" value="30.0"/>
	</node>

</launch>
