<launch>
  <!-- Start Motor driver-->

  <!-- <include file="$(find matrix_rohm_bringup)/launch/include/$(env model)/$(env serial_no)/lidar_r.launch" /> -->

  <arg name="port" default="$(env lidar_rear_port)" />
    
   <include file="$(find matrix_amr_bringup)/launch/include/$(env sub_model)/$(env serial_no)/lidar_r_$(env serial_no).xml" >
      <arg name="port" default="/dev/$(arg port)" />
   </include>


</launch>
