<!-- Node for merging magnetometer and accelerometer data into a single imu message -->
<launch>

  <!-- IMU Relay and Filter -->
    <include file="$(find magtrix_arm_bringup)/launch/tf.launch" />

    <include file="$(find magtrix_arm_bringup)/launch/base.launch" />

    <include file="$(find magtrix_arm_bringup)/launch/imu.launch" />

    <include file="$(find magtrix_arm_bringup)/launch/localization.launch" />

    <include file="$(find magtrix_arm_bringup)/launch/lidar.launch" />

    <!-- <include file="$(find magtrix_arm_bringup)/launch/camera.launch" /> -->

    <include file="$(find magtrix_arm_bringup)/launch/io.launch" />
    
    <include file="$(find magtrix_arm_bringup)/launch/pzem_bms.launch" />

    <include file="$(find matrix_system)/launch/matrix_diagnostics.launch" />
    <include file="$(find matrix_system)/launch/matrix_mode_controller.launch" />
    <include file="$(find matrix_system)/launch/matrix_movement_state.launch" />
    <include file="$(find matrix_system)/launch/matrix_aragorn_bridge.launch" />

    <include file="$(find matrix_dynamic_parameter)/launch/dynamic_parameters.launch" />

    <include file="$(find web_interface)/launch/istweb.launch"/>
    
</launch>
