<launch>
    
    <!-- <arg name="sub_model" default="$(env hw_ver)"/> -->
    <include file="$(find matrix_amr_bringup)/launch/include/common_device/sim/sim_$(env hw_ver).xml" >
      <!-- <arg name="port" default="/dev/$(arg port)"/> -->
    </include>

    <!-- <include file="$(find matrix_amr_bringup)/launch/include/$(env sub_model)/common/$(env sub_model)_addon_loc.xml" /> -->

</launch>