#!/usr/bin/env python
PACKAGE = "matrix_dynamic_parameter"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

grp_zone_vel = gen.add_group("zone_velocity", type="tab")
grp_zone_vel.add("orange_zone_vel",   double_t,   0, "velocities m/s",  0.0, 0.0, 1.00)
grp_zone_vel.add("yellow_zone_vel",    double_t,    0, "velocities m/s", 0.0, 0.0, 1.00)
grp_zone_vel.add("green_zone_vel",    double_t,    0, "velocities m/s", 0.0, 0.0, 1.50)

grp_zone_vel.add("room_zone_vel",   double_t,   0, "velocities m/s", 0.0, 0.0, 1.00)
grp_zone_vel.add("no_zone_vel",    double_t,    0, "velocities m/s", 0.0, 0.0, 1.50)


grp_nav_layer = gen.add_group("nav_layer", type="tab")
grp_nav_layer.add("global_static_map", bool_t, 0, "static map layer", False)
grp_nav_layer.add("global_ist_prohibition", bool_t, 0, "static map layer", False)
grp_nav_layer.add("global_ultrasonic", bool_t, 0, "static map layer", False)
grp_nav_layer.add("global_2d_obstacle", bool_t, 0, "static map layer", False)
grp_nav_layer.add("global_3d_obstacle", bool_t, 0, "static map layer", False)

grp_nav_layer.add("local_seem_global_layer", bool_t, 0, "static map layer", False)
grp_nav_layer.add("local_ist_prohibition", bool_t, 0, "static map layer", False)
grp_nav_layer.add("local_static_map", bool_t, 0, "static map layer", False)
grp_nav_layer.add("local_ultrasonic", bool_t, 0, "static map layer", False)
grp_nav_layer.add("local_2d_obstacle", bool_t, 0, "static map layer", False)
grp_nav_layer.add("local_3d_obstacle", bool_t, 0, "static map layer", False)


# grp_nav_layer = gen.add_group("costmap_cfg", type="tab")


exit(gen.generate(PACKAGE, "matrix_dynamic_parameter", "MatrixDynamicsNavigation"))