<launch>


  <arg name="node_start_delay" default="0.0" />  
  <node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_toolbox" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_lifelong.yaml" />
  </node>

  

</launch>
