<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="toolbox" doc="slam type [gmapping, cartographer, hector, iris, frontier_exploration, toolbox]"/>

  
  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find matrix_slam)/launch/matrix_$(arg slam_methods).launch">
  </include>


</launch>