<launch>
  

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">


    <!--<remap from="tf" to="/xqserial_server/tf"/>-->


    <param name="map_udpate_interval" value="1.0"/>
    <param name="maxUrange" value="15.0"/>
    <param name="sigma" value="0.1"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.15"/>
    <param name="astep" value="0.15"/>
    <param name="iterations" value="1"/>
    <param name="lsigma" value="0.1"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="1"/>
    <param name="srr" value="0.1"/>
    <param name="srt" value="0.2"/>
    <param name="str" value="0.1"/>
    <param name="stt" value="0.2"/>
    <param name="linearUpdate" value="1.0"/>
    <param name="angularUpdate" value="0.5"/>
    <param name="temporalUpdate" value="0.4"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="10"/>
    <param name="xmin" value="0.0"/>
    <param name="ymin" value="0.0"/>
    <param name="xmax" value="0.0"/>
    <param name="ymax" value="0.0"/>
    <param name="delta" value="0.05000"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.05"/>
    <param name="lasamplerange" value="0.05"/>
    <param name="lasamplestep" value="0.05"/>

    <param name="base_frame" value="base_footprint"/>

    <!--<remap from="scan" to="base_scan"/>-->
  </node>

  <!-- <include file="$(find aragorn_navigation_demo)/launch/move_base.xml"/> -->
 

  
</launch>
