#!/usr/bin/env python
PACKAGE = "matrix_docking_ar_operation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("ar3_distance_from_dynamics",   bool_t,   0, "A Boolean parameter",  False)
gen.add("ar3_docking_DARA",    double_t,    0, "An Integer parameter", 0.1525,  0, 1)
gen.add("ar3_docking_DARB",     double_t, 0, "A double parameter",    0.13, 0,   1)

exit(gen.generate(PACKAGE, "matrix_docking_ar_operation", "DockingAR"))