<launch>

  <group ns="keya_motor">
    <!-- GoWithRobo Car Wheel Controller Server With odom publisher. -->
    <node pkg="matrix_keya_motor" type="keya_driver" name="keya_driver" output="screen" >
    </node>

    <!-- <node pkg="matrix_keya_motor" type="keya_odom" name="keya_odom" output="screen" >
        <rosparam command="load" file="$(find matrix_keya_motor)/param/motor_configure.yaml"/>
    </node> -->
  </group>
</launch>