#!/usr/bin/env python
PACKAGE = "matrix_amr_bringup"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# gen.add("int_param",    int_t,    0, "An Integer parameter", 50,  0, 100)
# gen.add("double_param", double_t, 0, "A double parameter",    .5, 0,   1)
# gen.add("battery_serial_no",    str_t,    0, "sensor_msgs.BatteryState.serial_number",  "SMR020020230001ARB030SIM")
# gen.add("discharge_current", double_t, 0, "configure current",    3.7, 0,   50)
# gen.add("charge_current", double_t, 0, "configure current",    15.0, 0,   50)

gen.add("emergency_0",   bool_t,   0, "A Boolean parameter",  False)
gen.add("master_on_1",   bool_t,   0, "A Boolean parameter",  False)
# gen.add("master_on_done_2",   bool_t,   0, "A Boolean parameter",  False)
gen.add("emergency_charge_3",   bool_t,   0, "A Boolean parameter",  False)

gen.add("bumper_4",   bool_t,   0, "A Boolean parameter",  False)
gen.add("limit_switch_7",   bool_t,   0, "A Boolean parameter",  False)

gen.add("custom_in_1_10",   bool_t,   0, "A Boolean parameter",  False)
gen.add("custom_in_2_11",   bool_t,   0, "A Boolean parameter",  False)
gen.add("custom_in_3_12",   bool_t,   0, "A Boolean parameter",  False)
gen.add("custom_in_4_13",   bool_t,   0, "A Boolean parameter",  False)
# mode_batt = gen.enum([ #gen.const("custom",      int_t, 0, "A small constant"),
#                     #    gen.const("full",     int_t, 1, "A medium constant"),
#                     #    gen.const("discharge_high",      int_t, 2, "A large constant"),
#                     #    gen.const("discharge_med", int_t, 3, "An extra large constant"),
#                     #    gen.const("discharg_low", int_t, 4, "An extra large constant"),
#                        gen.const("charge", int_t, 1, "An extra large constant"),
#                        gen.const("discharge", int_t, 2, "An extra large constant")],
#                      "set battery state")

# gen.add("batter_cfg_state", int_t, 0, "cheange battery state", 2, 0, 2, edit_method=mode_batt)



exit(gen.generate(PACKAGE, "matrix_amr_bringup", "VirtualIO"))