<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="smr100_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.13174 -0.0068392 0.24389"
        rpy="0 0 0" />
      <mass
        value="25.187" />
      <inertia
        ixx="0.54256"
        ixy="0.0048343"
        ixz="-0.065286"
        iyy="1.8021"
        iyz="0.0024824"
        izz="2.1183" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="swing_arm_left_link">
    <inertial>
      <origin
        xyz="-0.10084 -0.065718 -0.055036"
        rpy="0 0 0" />
      <mass
        value="2.7468" />
      <inertia
        ixx="0.009653"
        ixy="0.001222"
        ixz="-0.0013751"
        iyy="0.01841"
        iyz="-0.00083399"
        izz="0.022625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/swing_arm_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/swing_arm_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="swing_arm_left_joint"
    type="revolute">
    <origin
      xyz="0.18079 0.2075 0.139"
      rpy="0 -0.02739 0" />
    <parent
      link="base_link" />
    <child
      link="swing_arm_left_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.087267"
      upper="0.087267"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_left_link">
    <inertial>
      <origin
        xyz="5.7206E-08 3.3262E-05 -9.2679E-05"
        rpy="0 0 0" />
      <mass
        value="4.9554" />
      <inertia
        ixx="0.0087272"
        ixy="-4.3288E-09"
        ixz="-2.7053E-08"
        iyy="0.01571"
        iyz="2.8551E-06"
        izz="0.0087185" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/wheel_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.79216 0.79216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/wheel_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_left_joint"
    type="continuous">
    <origin
      xyz="-0.1825 0.033 -0.06"
      rpy="0 0.02739 0" />
    <parent
      link="swing_arm_left_link" />
    <child
      link="wheel_left_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="caster_front_left_arm_link">
    <inertial>
      <origin
        xyz="-0.0083903 6.7887E-05 -0.021963"
        rpy="0 0 0" />
      <mass
        value="0.11992" />
      <inertia
        ixx="0.00011954"
        ixy="2.5959E-07"
        ixz="-3.37E-05"
        iyy="0.00013155"
        iyz="3.8727E-07"
        izz="0.0001378" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_left_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_left_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_front_left_arm_joint"
    type="continuous">
    <origin
      xyz="0.1825 -0.0135 -0.035"
      rpy="0 0 0" />
    <parent
      link="swing_arm_left_link" />
    <child
      link="caster_front_left_arm_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="caster_front_left_wheel_link">
    <inertial>
      <origin
        xyz="9.9956E-06 1.0025E-05 -3.3897E-05"
        rpy="0 0 0" />
      <mass
        value="0.10623" />
      <inertia
        ixx="5.3146E-05"
        ixy="-1.3417E-08"
        ixz="-1.9842E-09"
        iyy="9.0791E-05"
        iyz="1.1592E-08"
        izz="5.3158E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_front_left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.04 0.0005 -0.07"
      rpy="0 0.02739 0" />
    <parent
      link="caster_front_left_arm_link" />
    <child
      link="caster_front_left_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="swing_arm_right_link">
    <inertial>
      <origin
        xyz="-0.10084 0.065718 -0.055036"
        rpy="0 0 0" />
      <mass
        value="2.7468" />
      <inertia
        ixx="0.009653"
        ixy="-0.001222"
        ixz="-0.0013751"
        iyy="0.01841"
        iyz="0.00083399"
        izz="0.022625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/swing_arm_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/swing_arm_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="swing_arm_right_joint"
    type="revolute">
    <origin
      xyz="0.18079 -0.2075 0.139"
      rpy="0 -0.02739 0" />
    <parent
      link="base_link" />
    <child
      link="swing_arm_right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.087267"
      upper="0.087267"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_right_link">
    <inertial>
      <origin
        xyz="-5.7206E-08 -3.3262E-05 -9.2679E-05"
        rpy="0 0 0" />
      <mass
        value="4.9554" />
      <inertia
        ixx="0.0087272"
        ixy="-4.3288E-09"
        ixz="2.7053E-08"
        iyy="0.01571"
        iyz="-2.8551E-06"
        izz="0.0087185" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/wheel_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.79216 0.79216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/wheel_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_right_joint"
    type="continuous">
    <origin
      xyz="-0.1825 -0.033 -0.06"
      rpy="0 0.02739 0" />
    <parent
      link="swing_arm_right_link" />
    <child
      link="wheel_right_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="caster_front_right_arm_link">
    <inertial>
      <origin
        xyz="-0.0083904 -6.7793E-05 -0.021963"
        rpy="0 0 0" />
      <mass
        value="0.11992" />
      <inertia
        ixx="0.00011954"
        ixy="-2.59E-07"
        ixz="-3.37E-05"
        iyy="0.00013155"
        iyz="-3.8722E-07"
        izz="0.0001378" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_right_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_right_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_front_right_arm_joint"
    type="continuous">
    <origin
      xyz="0.1825 0.0135 -0.035"
      rpy="0 0 0" />
    <parent
      link="swing_arm_right_link" />
    <child
      link="caster_front_right_arm_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="caster_front_right_wheel_link">
    <inertial>
      <origin
        xyz="9.9956E-06 -1.0025E-05 3.3897E-05"
        rpy="0 0 0" />
      <mass
        value="0.10623" />
      <inertia
        ixx="5.3146E-05"
        ixy="1.3417E-08"
        ixz="1.9842E-09"
        iyy="9.0791E-05"
        iyz="1.1592E-08"
        izz="5.3158E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_front_right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_front_right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.04 -0.0005 -0.07"
      rpy="0 0.02739 0" />
    <parent
      link="caster_front_right_arm_link" />
    <child
      link="caster_front_right_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="caster_rear_left_arm_link">
    <inertial>
      <origin
        xyz="-0.0083903 6.7891E-05 -0.021963"
        rpy="0 0 0" />
      <mass
        value="0.11992" />
      <inertia
        ixx="0.00011954"
        ixy="2.5958E-07"
        ixz="-3.37E-05"
        iyy="0.00013155"
        iyz="3.8728E-07"
        izz="0.0001378" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_left_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_left_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_rear_left_arm_joint"
    type="continuous">
    <origin
      xyz="-0.36921 0.194 0.11"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="caster_rear_left_arm_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="caster_rear_left_wheel_link">
    <inertial>
      <origin
        xyz="9.9956E-06 1.0025E-05 -3.3897E-05"
        rpy="0 0 0" />
      <mass
        value="0.10623" />
      <inertia
        ixx="5.3146E-05"
        ixy="-1.3417E-08"
        ixz="-1.9842E-09"
        iyy="9.0791E-05"
        iyz="1.1592E-08"
        izz="5.3158E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_rear_left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.04 -0.0005 -0.07"
      rpy="0 0 0" />
    <parent
      link="caster_rear_left_arm_link" />
    <child
      link="caster_rear_left_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="caster_rear_right_arm_link">
    <inertial>
      <origin
        xyz="-0.0083903 6.7891E-05 -0.021963"
        rpy="0 0 0" />
      <mass
        value="0.11992" />
      <inertia
        ixx="0.00011954"
        ixy="2.5958E-07"
        ixz="-3.37E-05"
        iyy="0.00013155"
        iyz="3.8728E-07"
        izz="0.0001378" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_right_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_right_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_rear_right_arm_joint"
    type="continuous">
    <origin
      xyz="-0.36921 -0.194 0.11"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="caster_rear_right_arm_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="caster_rear_right_wheel_link">
    <inertial>
      <origin
        xyz="9.9956E-06 1.0025E-05 -3.3897E-05"
        rpy="0 0 0" />
      <mass
        value="0.10623" />
      <inertia
        ixx="5.3146E-05"
        ixy="-1.3417E-08"
        ixz="-1.9842E-09"
        iyy="9.0791E-05"
        iyz="1.1592E-08"
        izz="5.3158E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/caster_rear_right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_rear_right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.04 -0.0005 -0.07"
      rpy="0 0 0" />
    <parent
      link="caster_rear_right_arm_link" />
    <child
      link="caster_rear_right_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="lidar_front_link">
    <inertial>
      <origin
        xyz="-0.00014857 3.531E-06 -0.012585"
        rpy="0 0 0" />
      <mass
        value="0.093468" />
      <inertia
        ixx="6.7105E-05"
        ixy="-5.391E-09"
        ixz="-1.4135E-07"
        iyy="6.7316E-05"
        iyz="-1.3639E-08"
        izz="0.00010178" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/lidar_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/lidar_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_front_right_joint"
    type="fixed">
    <origin
      xyz="0.43779 -0.245 0.20485"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_rear_link">
    <inertial>
      <origin
        xyz="-0.00014857 3.531E-06 -0.012585"
        rpy="0 0 0" />
      <mass
        value="0.093468" />
      <inertia
        ixx="6.7105E-05"
        ixy="-5.391E-09"
        ixz="-1.4135E-07"
        iyy="6.7316E-05"
        iyz="-1.3639E-08"
        izz="0.00010178" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/lidar_rear_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/lidar_rear_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_rear_left_joint"
    type="fixed">
    <origin
      xyz="-0.43421 0.245 0.20485"
      rpy="0 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="lidar_rear_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="depth_cam_front_link">
    <inertial>
      <origin
        xyz="0.0015077 0.001406 0.012477"
        rpy="0 0 0" />
      <mass
        value="0.28631" />
      <inertia
        ixx="0.00018371"
        ixy="1.6508E-06"
        ixz="7.9725E-08"
        iyy="2.7523E-05"
        iyz="1.3439E-08"
        izz="0.00018535" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/depth_cam_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.70196 0.70196 0.70196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/depth_cam_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="depth_cam_front_joint"
    type="fixed">
    <origin
      xyz="0.47125 0 0.1578"
      rpy="0 -0.24718 0" />
    <parent
      link="base_link" />
    <child
      link="depth_cam_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="6.0715E-18 3.5513E-18 -0.0025"
        rpy="0 0 0" />
      <mass
        value="0.01693" />
      <inertia
        ixx="3.5506E-06"
        ixy="-5.657E-22"
        ixz="-2.8071E-26"
        iyy="3.5472E-06"
        iyz="-6.7074E-24"
        izz="7.0272E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smr100_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0.005288 0 0.212"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
