<launch>

    <node name="matrix_communications_xbee" pkg="serial_xbee" type="serial_Xbee_node" output="screen">
    </node>

    <node name="matrix_communications_xbee_rohm_action" pkg="matrix_communications" type="xbee_movement_ROHM_action" output="screen">
        <!-- <remap from="/xbee_receive" to="/read"/> -->
    </node>

    <node name="matrix_communications_central" pkg="matrix_communications" type="testoop" output="screen">
    </node>

    <!-- <node name="matrix_communications_xbee_rohm" pkg="matrix_communications" type="xbee_movement_ROHM_sub" output="screen">
    </node> -->

    
</launch>