<launch>

    <!-- <node name="matrix_dummy_info" pkg="dummy" type="dummy_info.py" output="log">
    </node> -->

    <!-- <node name="matrix_dummy_battery" pkg="dummy" type="dummy_battery.py" output="log">
    </node> -->

    <!-- <node name="matrix_communications_central" pkg="matrix_communications" type="testoop" output="screen">
    </node> -->

    <!-- <node name="matrix_communications_xbee" pkg="serial_xbee" type="serial_Xbee_node" output="screen">
    </node> -->

    <!-- <node name="matrix_communications_xbee" pkg="matrix_communications" type="serial_Xbee_node" output="screen">
    </node> -->

    <node name="matrix_communications_xbee_manager" pkg="matrix_communications" type="xbee_manager_movebase" output="screen">
    <remap from="/xbee_receive" to="/read"/>
    </node>

</launch>