#!/usr/bin/env python3
PACKAGE = "matrix_canopen_motor"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("restart_motor", bool_t, 0, "reset dual motor node ", False)

gen.add("manual_mode", bool_t, 0, "go to manual mode", False)
gen.add("manual_trigger_init_motor", bool_t, 0, "trigger initial motor", False)
gen.add("manual_trigger_disabled_motor", bool_t, 0, "trigger disabled motor", False)

gen.add("accel_time", int_t, 0, "profile acceration and deceleration", 100, -1, 10000)
gen.add("decel_time", int_t, 0, "profile acceration and deceleration", 100, -1, 10000)

gen.add("free_mode", bool_t, 0, "unlock motor", False)

gen.add("shaft_lock", bool_t, 0, "shaft_lock", False)



exit(gen.generate(PACKAGE, "matrix_canopen_motor", "Motor"))
