#!/usr/bin/env python
PACKAGE = "matrix_state_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("pause_mode_detect", str_t, 0, "data decided to enable Pause mode", "PAUSE")
gen.add("resume_mode_detect", str_t, 0, "data decided to enable Resume mode", "RESUME")

gen.add("trigger_pause", bool_t, 0, "trigger pause mode", False)
gen.add("trigger_resume", bool_t, 0, "trigger resume mode", False)

gen.add("resume_dock_time", double_t, 0, "resume dock after Resume state", 1,  2, 10)


exit(gen.generate(PACKAGE, "matrix_state_controller", "MatrixStateController"))