#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# For integers and doubles:
#       Name                    Type      Reconfiguration level
#       Description
#       Default  Min  Max


gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
gen.add("fill_polygons", bool_t, 0, "Whether to fill polygon cells or not", True)
gen.add("dynamic_polygons", bool_t, 0, "dynamic polygon mode", False)
gen.add("prohibition_cost", int_t, 0, "Cost value for prohibition areas (0-254, 254=LETHAL)", 254, 0, 254)

exit(gen.generate("costmap_prohibition_layer_namespace", "costmap_prohibition_layer_namespace", "CostmapProhibitionLayer"))
