<launch>

  <!--<param
    name="robot_description"
    textfile="$(find aragorn_description)/urdf/aragorn.urdf" />-->

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_imu_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /base_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu_link" args="0.0 -0.01 0.3 0.0 0.0 0.0 /base_link /imu_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser_link" args="0.335 0.0 0.24 -0.05 0 0 /base_link /laser"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_link" args="0.38 0.0 0.365 0.0 -0.6 -3.14 /base_link /camera_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera2_link" args="0.40 0.0 0.305 0.0 0.02 3.14 /base_link /camera2_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_ultrasonic_left" args="0.22 0.25 0.0 1.57 0.0 0.0 /base_link /ultrasonic_left_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_ultrasonic_left_front" args="0.35 0.17 0.0 0 0.0 0 /base_link /ultrasonic_left_front_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_ultrasonic_middle_front" args="0.35 0.0 -0.02 0 0.0 0 /base_link /ultrasonic_middle_front_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_ultrasonic_right_front" args="0.35 -0.17 0.0 0 0.0 0 /base_link /ultrasonic_right_front_link"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_ultrasonic_right" args="0.22 -0.25 0.0 -1.57 0.0 0 /base_link /ultrasonic_right_link"/>

  
</launch>

